apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: homedns
  namespace: default
  labels:
    release: kube-prometheus-stack
spec:
  namespaceSelector:
    matchNames:
      - default
  selector:
    matchLabels:
      app: homedns
  endpoints:
    - port: metrics
      interval: 30s
      path: /metrics
      scheme: http

