apiVersion: monitoring.coreos.com/v1beta1
kind: AlertmanagerConfig
metadata:
  name: gmail-receiver-example
  namespace: monitoring
  labels:
    alertmanagerConfig: main
spec:
  route:
    receiver: gmail-notifications
    groupBy: ["alertname"]
    groupWait: 30s
    groupInterval: 5m
    repeatInterval: 4h

  receivers:
    - name: gmail-notifications
      emailConfigs:
        - to: "geitnermarvin@gmail.com"
          from: "geitnermarvin@gmail.com"
          smarthost: "smtp.gmail.com:587"
          authUsername: "geitnermarvin@gmail.com"
          authPassword:
            name: email-credentials
            key: MAIL_PASSWORD
          requireTLS: true
          sendResolved: true
