apiVersion: v1
kind: Service
metadata:
  name: home-assistant
  namespace: default
  labels:
    app: home-assistant
spec:
  clusterIP: None
  ports:
  - name: metrics
    port: 8123
    targetPort: 8123
