apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: default
  labels:
    app: frontend-service
spec:
  selector:
    app: frontend
  ports:
    - name: http-web
      protocol: TCP
      port: 3001
      targetPort: 80
  type: ClusterIP
