apiVersion: apps/v1
kind: Deployment
metadata:
  name: applications
  labels:
    app: applications
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: applications
  template:
    metadata:
      labels:
        app: applications
    spec:
      containers:
        - name: applications
          image: localhost:5000/applications:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          env:
            - name: JAVA_OPTS
              value: "-Xms512m -Xmx1024m"
            - name: ADAPTER_PORT
              value: "9001"
            - name: DATA_SOURCE
              value: "jdbc:postgresql://postgres-service.default.svc.cluster.local:5432/costs"
            - name: DATA_SOURCE_USERNAME
              value: "marvin"
            - name: DATA_SOURCE_PASSWORD
              value: "password"
            - name: MAIL_USERNAME
              value: ""
            - name: MAIL_PASSWORD
              value: ""
            - name: CAMT_DIRECTORY_IN
              value: "/data/camt"
            - name: CAMT_DIRECTORY_DONE
              value: "/data/camt/done"
            - name: IMPORTER_IN_COSTS
              value: "/data/import/costs"
            - name: IMPORTER_IN_SENSORDATA
              value: "/data/import/sensordata"
            - name: IMPORTER_DONE
              value: "/data/import/sensordata/done"
            - name: EXPORTER_FOLDER
              value: "/data/export"
            - name: UPLOADER_CREDENTIALS_PATH
              value: "/data/google/credentials.json"
            - name: UPLOADER_COST_EXPORT_FOLDER
              value: "/data/export"
            - name: INFLUX_URL
              value: "http://influxdb-service.default.svc.cluster.local:8086"
            - name: INFLUX_TOKEN
              value: "rmz5aaaKYSpgvXSO3C1UFZmXjvtpwI81b7hcMaMJJqOTjvgI82iNAbSsF7fpGIy2fduNDKACQ759cyaiECrulg=="
            - name: INFLUX_ORG
              value: "wildfly_domain"
            - name: INFLUXDB_EXPORT_ENABLED
              value: "false"
            - name: CONSUL_URL
              value: "http://192.168.178.29:8500"
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "1024Mi"
              cpu: "500m"
          volumeMounts:
          - name: data
            mountPath: /data
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: local-mount-pvc
