apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: influxdb-datasource
  labels:
    app: grafana
spec:
  valuesFrom:
    - targetPath: secureJsonData.token
      valueFrom:
        secretKeyRef:
          name: influxdb-token
          key: TOKEN
  instanceSelector:
    matchLabels:
      app: grafana
  datasource:
    name: influxdb
    type: influxdb
    access: proxy
    url: http://influxdb-service.default.svc.cluster.local:8086
    isDefault: true
    jsonData:
      defaultBucket: costs
      httpMode: POST
      organization: wildfly_domain
      version: Flux
      tlsSkipVerify: true
    secureJsonData:
      "token": ${TOKEN}