apiVersion: v1
kind: Service
metadata:
  name: influxdb-service
  namespace: default
  labels:
    app: influxdb-service
spec:
  selector:
    app: influxdb
  ports:
    - name: http
      protocol: TCP
      port: 8086
      targetPort: 8086
  type: ClusterIP